<div class="container mt-3">
  <h4 appHighlighter [c]="'45px'">This is a Directive Block.</h4>
  <h4 appHighlighter [c]="'orange'">This is a Directive Block.</h4>
  <h4 appHighlighter [c]="'yellow'">This is a Directive Block.</h4>
 <!-- <h4 appHighlighter [c]="'orange'">This is a Directive Block.</h4>-->
 <input appCreditcard>

 <h3>Index with *ngFor directive</h3>
  <table class="table table-bordered">
    <thead class="thead-light">
      <th>Index</th>
      <th>#</th>
      <th>Name</th>
      <th>Gender</th>
      <th>Department</th>
      </thead>
      <tbody>
          <tr *ngFor="let item of employeeList; let i=index">
              <td>{{i}}</td>
              <td>{{item.Id}}</td>
              <td>{{item.Name}}</td>
              <td>{{item.Gender}}</td>
              <td>{{item.Department}}</td>
          </tr>
        </tbody>
    </table>

    <br><br>

    <h3>Index with *ngFor directive- Reverse Loop</h3>
    <table class="table table-bordered">
      <thead class="thead-light">

        <th>#</th>
        <th>Name</th>
        <th>Gender</th>
        <th>Department</th>
        </thead>
        <tbody>
            <tr *ngFor="let item of employeeList.reverse();">

                <td>{{item.Id}}</td>
                <td>{{item.Name}}</td>
                <td>{{item.Gender}}</td>
                <td>{{item.Department}}</td>
            </tr>
          </tbody>
      </table>
      <br><br>

      <h3>Index with *ngFor directive- first&last</h3>
      <table class="table table-bordered">
        <thead class="thead-light">

          <th>#</th>
          <th>Name</th>
          <th>Gender</th>
          <th>Department</th>
          <th>IsFirst?</th>
          <th>IsLast?</th>
          </thead>
          <tbody>
              <tr *ngFor="let item of employeeList.reverse(); let f=first; let l=last;" [ngClass]="{first: f,last:l}">

                  <td>{{item.Id}}</td>
                  <td>{{item.Name}}</td>
                  <td>{{item.Gender}}</td>
                  <td>{{item.Department}}</td>
                  <td >{{f}}</td>
                  <td>{{l}}</td>
              </tr>
            </tbody>
        </table>

        <br><br>

        <h3>Index with *ngFor directive- even&odd</h3>
        <table class="table table-bordered">
          <thead class="thead-light">

            <th>#</th>
            <th>Name</th>
            <th>Gender</th>
            <th>Department</th>
            <th>IsEven?</th>
            <th>IsOdd?</th>
            </thead>
            <tbody>
                <tr *ngFor="let item of employeeList; let ev=even; let od=odd;" [ngClass]="{even: ev,odd: od}">

                    <td>{{item.Id}}</td>
                    <td>{{item.Name}}</td>
                    <td>{{item.Gender}}</td>
                    <td>{{item.Department}}</td>
                    <td >{{ev}}</td>
                    <td>{{od}}</td>
                </tr>
              </tbody>
          </table>

          <br><br>

            <h3>Nested *ngFor</h3>
              <br />
            <ul class="list-group">
              <li class="list-group-item" *ngFor="let hue of hueLightData">
                {{hue.Name}}
                <ul class="list-group">
                    <li class="list-group-item" *ngFor="let light of hue.Lights">
                      {{light.Name}}
                    </li>
                </ul>
              </li>

            </ul>
            <br><br>
  <select class="form-control col-md-2" [(ngModel)]="selectedValue">
    <option *ngFor="let item of items" [value]="item.Name">{{item.Name}}</option>
  </select>

  <div [ngSwitch]="selectedValue">
    <div *ngSwitchCase="'One'">
      <span>One is Selected</span>
    </div>

    <div *ngSwitchCase="'Two'">
      <span>Two is Selected</span>
    </div>

    <div *ngSwitchCase="'Three'">
      <span>Three is Selected</span>
    </div>

    <div *ngSwitchCase="'Four'">
      <span>Four is Selected</span>
    </div>

    <div *ngSwitchCase="'Five'">
      <span>Five is Selected</span>
    </div>

    <div *ngSwitchDefault>
      <span>Default Option</span>
    </div>
      </div>
<br><br><br>
</div>

