<!--<p>hello-world works!</p>
<h2>{{no1}}</h2>
<h2>{{str}}</h2>
-->
<!--<button (click)="onClickButton()">Click Me</button>
<br>
<br>
<input type="text" (keyup)="OnKeyPress()">
<br>
<br>
<input type="text" value="{{str}}">
<br>
<br>
<input type="text" [value]="no1" [disabled]="flag">
<br>
<br>-->
<div class="container mt-3">
<h3>{{name1 | lowercase}}</h3>
<h3>{{name2 | uppercase}}</h3>
<h3>{{name1 | titlecase}}</h3>
<br><br>


<h3>{{value | currency}}</h3>
<h3>{{value | currency: 'GBP'}}</h3>
<h3>{{value | currency: 'GPB': 'code'}}</h3>


<br><br>
<h3>{{value2 | percent}}</h3>
<br><br>
<h3>{{today | date}}</h3>
<h3>{{today | date:'dd/MM/yy'}}</h3>
<h3>{{today | date:'short'}}</h3>
<h3>{{today | date: 'shortTime'}}</h3>
<h3>{{today | date: 'shortDate'}}</h3>
<br><br><br>

<h3>{{n | number:'2.1-4'}}</h3>

<br><br><br>

<h3>{{lowercase | uppercase}}</h3>
<h3>{{uppercase | lowercase}}</h3>

<br><br><br>

<h3>{{val1 | percent}}</h3>
<h3>{{val2 | percent : '3.3-5'}}</h3>

<br><br><br>

<h3>{{name | slice: 1:5}}</h3>

<br><br>
<h3>{{name | slice: 0:5}}</h3>
<br><br><br>

<h3>{{name | titlecase}}</h3>

<br><br><br>
<h3>{{person | json}}</h3>

<br><br>

<h3>{{object | json}}</h3>
</div>
<br>
<div class="container mt-3">
  <table border="2" style="text-align: center; background-color: cornsilk; margin: auto;">
    <thead><h1>Calculator</h1></thead>
<input type="number" [(ngModel)]="a">
<br>
<input type="number" [(ngModel)]="b">
<br>
<br>
<button (click)="OnAddClick()">Add</button>
<h2>Addition is {{sum}}</h2>
<br>
<button (click)="OnSubstractClick()">Substract</button>
<h2>Substraction is {{substract}}</h2>
<br>
<button (click)="OnMultiClick()">Multiplication</button>
<h2>Multiplication is {{multiplication}}</h2>
<br>
<button (click)="OnDivisionClick()">Division</button>
<h2>Division is {{division}}</h2>
</table>
</div>
<br><br>

<div class="container mt-3">
<input type="number" [(ngModel)]="number1">
&nbsp;
<button class="btn btn-primary" (click)="OnclickMultiTable()" (click)="OnShowTable()">Click</button>
<div>&nbsp;</div>
<div *ngIf="flag1">
  <div align="center" style="box-sizing: border-box; width:25%; border:2px double indigo">
  <h4>{{number1}}*1={{a}}</h4>
  <h4>{{number1}}*2={{b}}</h4>
  <h4>{{number1}}*3={{c}}</h4>
  <h4>{{number1}}*4={{d}}</h4>
  <h4>{{number1}}*5={{e}}</h4>
  <h4>{{number1}}*6={{f}}</h4>
  <h4>{{number1}}*7={{g}}</h4>
  <h4>{{number1}}*8={{h}}</h4>
  <h4>{{number1}}*9={{i}}</h4>
  <h4>{{number1}}*10={{j}}</h4>
  </div>
  <br>
</div>
<div class="container mt-3">
<h1>Add using Template Binding</h1>
<input type="number" #input1>
<input type="number" #input2>
<button (click)="OnAddButtonClick(input1.value,input2.value)">Add</button>
<h2>Answer is :{{ans}}</h2>
</div>
<br><br>
<input type="text" [(ngModel)]="str1">
<h2>{{str1}}</h2>
<br>
<input type="text" #input3 (keyup)="0">
<h2>{{input3.value}}</h2>
<br><br>
<div>
