<div class="container mt-3">
    <h1 style="text-align: center; font-family: 'Times New Roman';">Todos Component</h1>
    <div class="row">
      <button (click)="OnShowTodoClick()" class=" form-control btn btn-primary">Show Todo Table</button>
       <br><br>
        <div class="container mt-3">
          <div class="row" *ngIf="flag; else elseblock">
            <table class="table1" style="width: 800px; height: 150px;" border="2px">
            <thead>
                <th class="pratibha" colspan="4" style="font-size:20px; height: 51px;">Todos Componant</th>
                    <tr class="pratibha">
                      <th>Id</th>
                      <th>Title</th>
                      <th>Status</th>
                      <th>Action</th>
                    </tr>
              </thead>
              <tbody>
                <tr class="pratibha" *ngFor="let item of arrTodoShow">
                  <td>{{item.id}}</td>
                  <td>{{item.title}}</td>
                <!--  <td *ngIf="item.status=='pending'"><span style="color: red;">{{item.status}}</span></td>
                  <td *ngIf="item.status=='done'"><span style="color: green;">{{item.status}}</span></td>-->
                  <td><span [ngClass]="{done: item.status=='done','pending': item.status=='pending'}">{{item.status}}</span></td>
                <td>
                      <button (click)="OnDeleteClick(item)">Delete</button>
                      <button (click)="OnEditClick(item)">Edit</button>
                  </td>
                </tr>
              </tbody>
            </table>
            <div class="container mt-3">
              <button class="btn btn-primary" (click)="OnCancleTodo()">Cancle</button>
              </div>
          </div>
        <ng-template #elseblock>
          <h1>This is a Else Block.</h1>
          </ng-template>
   </div>
  </div>




<div class="container mt-3">
    <h1 style="text-align: center; font-family: 'Times New Roman';">Employee Component</h1>
    <div class="row">
    <button (click)="OnShowEmpClick()" class=" form-control btn btn-primary">Show Employee Table</button>
      <br><br>
      <div class="container mt-3">
    <div class="row" *ngIf="flag1;else elseblock">
    <table class="table1" style="width: 800px; height: 200px;" border="2px">
      <thead>
          <th class="pratibha" colspan="6" style="font-size:20px; height: 53px;">Employee Details</th>
              <tr class="pratibha">
                <th>Id</th>
                <th>Name</th>
                <th>Age</th>
                <th>Email</th>
                <th>Gender</th>
                <th>Action</th>
              </tr>

        </thead>
        <tbody>
          <tr class="pratibha" *ngFor="let item of arrEmployeeShow">
            <td>{{item.id}}</td>
            <td>{{item.name}}</td>
            <td>{{item.age}}</td>
            <td>{{item.email}}</td>
            <td>{{item.gender}}</td>
            <td>
              <button (click)="OnEmpDelete(item)">Delete</button>

            </td>
          </tr>
          </tbody>
      </table>
      <div class="container mt-3">
        <button class="btn btn-primary" (click)="OnCancleEmp()">Cancle</button>
        </div>
      </div>

  <ng-template #elseblock>
    <h1>This is Else Block</h1>
    </ng-template>
  </div>
</div>





